Repository joryirving/containers, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/apps, area/github, area/mise, area/renovate

.github/labeler.yaml:

---
area/apps:
  - changed-files:
      - any-glob-to-any-file:
          - apps/**/*
          - include/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
area/mise:
  - changed-files:
      - any-glob-to-any-file:
          - .mise.toml
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - .renovate/**/*
          - .renovaterc.json5

qbittorrent: RFC1918
  apps/qbittorrent/defaults/qBittorrent.conf
Labels: area/apps

feat: add a bunch of apps that I use regularly
  apps/busybox/Dockerfile
  apps/busybox/docker-bake.hcl
  apps/busybox/tests.yaml
  apps/cni-plugins/Dockerfile
  apps/cni-plugins/docker-bake.hcl
  apps/cni-plugins/tests.yaml
  apps/irqbalance/Dockerfile
  apps/irqbalance/docker-bake.hcl
  apps/irqbalance/tests.yaml
  apps/kopia/Dockerfile
  apps/kopia/docker-bake.hcl
  apps/kopia/entrypoint.sh
  apps/kopia/tests.yaml
  apps/webhook/Dockerfile
  apps/webhook/docker-bake.hcl
  apps/webhook/entrypoint.sh
  apps/webhook/tests.yaml
Labels: area/apps

chore: made executable
  apps/kopia/entrypoint.sh
  apps/webhook/entrypoint.sh
Labels: area/apps

yup :hankhill:
  .github/actions/container-size-diff/action.yaml
Labels: area/github

chore: swap to maintained fork
  apps/it-tools/Dockerfile
  apps/it-tools/docker-bake.hcl
Labels: area/apps

Revert "chore: swap to maintained fork"
  apps/it-tools/Dockerfile
  apps/it-tools/docker-bake.hcl
Labels: area/apps

chore: swap to maintained fork
  apps/it-tools/Dockerfile
  apps/it-tools/docker-bake.hcl
Labels: area/apps

fix: add tools for arm build
  apps/it-tools/Dockerfile
Labels: area/apps

feat: drop to a single command
  apps/it-tools/Dockerfile
Labels: area/apps

feat: add mylar3
  apps/mylar3/Dockerfile
  apps/mylar3/docker-bake.hcl
  apps/mylar3/entrypoint.sh
  apps/mylar3/tests.yaml
Labels: area/apps

fix: config
  apps/mylar3/Dockerfile
Labels: area/apps

fix: pip command
  apps/mylar3/Dockerfile
Labels: area/apps

fix: paths
  apps/mylar3/Dockerfile
  apps/mylar3/entrypoint.sh
Labels: area/apps

fix test
  apps/mylar3/Dockerfile
  apps/mylar3/tests.yaml
Labels: area/apps

TRY AGAIN
  apps/mylar3/entrypoint.sh
Labels: area/apps

chore: add env
  apps/mylar3/Dockerfile
  apps/mylar3/tests.yaml
Labels: area/apps

fix: filename
  apps/actions-runner/container_test.go
Labels: area/apps

compatibility with upstream build pipeline changes
  apps/home-assistant/Dockerfile
Labels: area/apps

feat: bump version to match new command
  apps/home-assistant/Dockerfile
  apps/home-assistant/docker-bake.hcl
Labels: area/apps

feat: bump where we pull version from
  apps/home-assistant/Dockerfile
Labels: area/apps

feat: fix hass build
  .justfile
  apps/home-assistant/Dockerfile
Labels: area/apps

bump version
  apps/opentofu-runner/Dockerfile
Labels: area/apps

try using tofu instead
  apps/opentofu-runner/Dockerfile
Labels: area/apps

revert
  apps/opentofu-runner/Dockerfile
Labels: area/apps

feat: add glibc
  apps/opentofu-runner/Dockerfile
Labels: area/apps

will this work?
  .renovaterc.json5
Labels: area/renovate

maybe maybe maybe
  apps/bazarr/Dockerfile
  apps/cni-plugins/Dockerfile
  apps/home-assistant/Dockerfile
  apps/irqbalance/Dockerfile
  apps/kopia/Dockerfile
  apps/mylar3/Dockerfile
  apps/opentofu-runner/Dockerfile
  apps/prowlarr/Dockerfile
  apps/qbittorrent/Dockerfile
  apps/radarr/Dockerfile
  apps/sabnzbd/Dockerfile
  apps/smartctl_exporter/Dockerfile
  apps/sonarr/Dockerfile
  apps/tautulli/Dockerfile
  apps/tqm/Dockerfile
  apps/webhook/Dockerfile
Labels: area/apps

fix(tautulli): revert to python 3.22
  .renovaterc.json5
  apps/tautulli/Dockerfile
Labels: area/apps, area/renovate

fix bad copypasta
  .renovaterc.json5
Labels: area/renovate

cleanup
  .renovaterc.json5
Labels: area/renovate

fix: irqbalance
  apps/irqbalance/docker-bake.hcl
Labels: area/apps

allow timeouts on repology
  .renovaterc.json5
Labels: area/renovate

try?
  apps/irqbalance/docker-bake.hcl
Labels: area/apps

restore servarr
  .renovaterc.json5
Labels: area/renovate

renovate silly
  .mise.toml
Labels: area/mise
